@model SchoolStats.Models.StudentStatistics

@{
    ViewBag.Title = "Stats";
}

<h2>Statistics</h2>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    <h4>Student Statistics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Total Students
        </dt>
        <dd>
            @Model.StudentCount
        </dd>

        <dt>
            Student with Maximum Marks
        </dt>
        <dd>
            @Model.MaxMarkStudent.StudentName
            @Model.MaxMarkStudent.TotalMarks
        </dd>

        <dt>
            Student with Minimum Marks
        </dt>
        <dd>
            @Model.MinMarkStudent.StudentName
            @Model.MinMarkStudent.TotalMarks
        </dd>

        <dt>
            Students with Less than 50 Marks
        </dt>
        <dd>
            @foreach (var student in Model.StudentsWithLessThan50Marks)
            {
                <span>@student.StudentName </span>
                <span>@student.TotalMarks</span>
                <br />
            }
        </dd>


        <dt>
            Average Marks
        </dt>
        <dd>
            @Model.AverageMark
        </dd>
    </dl>
</div>
